<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logo</key>
		<string>macys.png</string>
		<key>receiptLogo</key>
		<string>macysReceiptlogo.png</string>
		<key>store</key>
		<string>Macy&apos;s</string>
		<key>date</key>
		<string>03/27/2018</string>
		<key>amount</key>
		<string>$46.12</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>homedepot.png</string>
		<key>receiptLogo</key>
		<string>homedepotReceiptlogo.png</string>
		<key>store</key>
		<string>The Home Depot</string>
		<key>date</key>
		<string>03/18/2018</string>
		<key>amount</key>
		<string>$21.35</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>target.png</string>
		<key>receiptLogo</key>
		<string>targetReceiptlogo.png</string>
		<key>store</key>
		<string>Target</string>
		<key>date</key>
		<string>03/11/2018</string>
		<key>amount</key>
		<string>$35.12</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>starbucks.png</string>
		<key>receiptLogo</key>
		<string>starbucksReceiptlogo.png</string>
		<key>store</key>
		<string>Starbucks</string>
		<key>date</key>
		<string>02/26/2018</string>
		<key>amount</key>
		<string>5.76</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>wholefoods.png</string>
		<key>receiptLogo</key>
		<string>wholefoodsReceiptlogo.png</string>
		<key>store</key>
		<string>Whole Foods</string>
		<key>date</key>
		<string>02/24/2018</string>
		<key>amount</key>
		<string>$86.10</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>bestbuy.png</string>
		<key>receiptLogo</key>
		<string>bestbuyReceiptlogo.png</string>
		<key>store</key>
		<string>Best Buy</string>
		<key>date</key>
		<string>02/17/2018</string>
		<key>amount</key>
		<string>$42.11</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>costco.png</string>
		<key>receiptLogo</key>
		<string>costcoReceiptlogo.png</string>
		<key>store</key>
		<string>Costco</string>
		<key>date</key>
		<string>02/13/2018</string>
		<key>amount</key>
		<string>$159.13</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>bathbodyworks.png</string>
		<key>receiptLogo</key>
		<string>bathbodyworksReceiptlogo.png</string>
		<key>store</key>
		<string>Bath &amp; Body Works</string>
		<key>date</key>
		<string>02/07/2018</string>
		<key>amount</key>
		<string>$13.55</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>express.png</string>
		<key>receiptLogo</key>
		<string>expressReceiptlogo.png</string>
		<key>store</key>
		<string>Express</string>
		<key>date</key>
		<string>02/04/2018</string>
		<key>amount</key>
		<string>$136.02</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>kohls.png</string>
		<key>receiptLogo</key>
		<string>kohlsReceiptlogo.png</string>
		<key>store</key>
		<string>Kohl&apos;s</string>
		<key>date</key>
		<string>02/01/2018</string>
		<key>amount</key>
		<string>$33.98</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>gap.png</string>
		<key>receiptLogo</key>
		<string>gapReceiptlogo.png</string>
		<key>store</key>
		<string>Gap</string>
		<key>date</key>
		<string>01/28/2018</string>
		<key>amount</key>
		<string>$65.88</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>staples.png</string>
		<key>receiptLogo</key>
		<string>staplesReceiptlogo.png</string>
		<key>store</key>
		<string>Staples</string>
		<key>date</key>
		<string>01/13/2018</string>
		<key>amount</key>
		<string>$17.94</string>
	</dict>
</array>
</plist>
