<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>George Clooney</key>
	<array>
		<string>clooney1</string>
		<string>clooney2</string>
		<string>clooney3</string>
		<string>clooney4</string>
		<string>clooney5</string>
		<string>clooney6</string>
		<string>clooney7</string>
		<string>clooney8</string>
		<string>clooney9</string>
		<string>clooney10</string>
		<string>clooney11</string>
		<string>clooney12</string>
		<string>clooney13</string>
		<string>clooney14</string>
		<string>clooney15</string>
		<string>clooney16</string>
		<string>clooney17</string>
	</array>
	<key>Sean Connery</key>
	<array/>
	<key>Kevin Costner</key>
	<array>
		<string>Afghanistan</string>
		<string>Bahrain</string>
	</array>
	<key>Daniel Craig</key>
	<array>
		<string>Albania</string>
		<string>Andorra</string>
	</array>
	<key>Russel Crowe</key>
	<array>
		<string>Canada</string>
		<string>United States</string>
	</array>
	<key>Tom Cruise</key>
	<array>
		<string>Australia</string>
		<string>New Zealand</string>
	</array>
	<key>Willem Dafoe</key>
	<array>
		<string>Argentina</string>
		<string>Brazil</string>
	</array>
	<key>Matt Demon</key>
	<array/>
	<key>Jeff Daniels</key>
	<array/>
	<key>Robert De Niro</key>
	<array/>
</dict>
</plist>
