<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>George Clooney</key>
	<array>
		<string>clooney1</string>
		<string>clooney2</string>
		<string>clooney3</string>
		<string>clooney4</string>
		<string>clooney5</string>
		<string>clooney6</string>
		<string>clooney7</string>
		<string>clooney8</string>
		<string>clooney9</string>
		<string>clooney10</string>
		<string>clooney11</string>
		<string>clooney12</string>
		<string>clooney13</string>
		<string>clooney14</string>
		<string>clooney15</string>
		<string>clooney16</string>
		<string>clooney17</string>
		<string>clooney18</string>
	</array>
	<key>Sean Connery</key>
	<array>
		<string>connery1</string>
		<string>connery2</string>
		<string>connery3</string>
		<string>connery4</string>
		<string>connery5</string>
		<string>connery6</string>
		<string>connery7</string>
		<string>connery8</string>
		<string>connery9</string>
		<string>connery10</string>
		<string>connery11</string>
		<string>connery12</string>
		<string>connery13</string>
		<string>connery14</string>
		<string>connery15</string>
		<string>connery16</string>
		<string>connery17</string>
		<string>connery18</string>
	</array>
	<key>Kevin Costner</key>
	<array>
		<string>costner1</string>
		<string>costner2</string>
	</array>
	<key>Daniel Craig</key>
	<array>
		<string>craig1</string>
		<string>craig2</string>
		<string>craig3</string>
		<string>craig4</string>
		<string>craig5</string>
		<string>craig6</string>
		<string>craig7</string>
		<string>craig8</string>
		<string>craig9</string>
		<string>craig10</string>
		<string>craig11</string>
		<string>craig12</string>
		<string>craig13</string>
		<string>craig14</string>
		<string>craig15</string>
		<string>craig16</string>
		<string>craig17</string>
		<string>craig18</string>
	</array>
	<key>Russel Crowe</key>
	<array>
		<string>crowe1</string>
		<string>crowe2</string>
		<string>crowe3</string>
	</array>
	<key>Tom Cruise</key>
	<array>
		<string>cruise1</string>
		<string>cruise2</string>
		<string>cruise3</string>
		<string>cruise4</string>
		<string>cruise5</string>
		<string>cruise6</string>
		<string>cruise7</string>
		<string>cruise8</string>
		<string>cruise9</string>
		<string>cruise10</string>
		<string>cruise11</string>
		<string>cruise12</string>
		<string>cruise13</string>
		<string>cruise14</string>
		<string>cruise15</string>
		<string>cruise16</string>
		<string>cruise17</string>
		<string>cruise18</string>
	</array>
	<key>Willem Dafoe</key>
	<array>
		<string>dafoe1</string>
		<string>dafoe2</string>
		<string>dafoe3</string>
	</array>
	<key>Matt Damon</key>
	<array>
		<string>damon1</string>
		<string>damon2</string>
		<string>damon3</string>
		<string>damon4</string>
		<string>damon5</string>
		<string>damon6</string>
		<string>damon7</string>
		<string>damon8</string>
		<string>damon9</string>
		<string>damon10</string>
		<string>damon11</string>
		<string>damon12</string>
		<string>damon13</string>
		<string>damon14</string>
		<string>damon15</string>
		<string>damon16</string>
		<string>damon17</string>
		<string>damon18</string>
	</array>
	<key>Jeff Daniels</key>
	<array>
		<string>daniels1</string>
		<string>daniels2</string>
		<string>daniels3</string>
		<string>daniels4</string>
		<string>daniels5</string>
		<string>daniels6</string>
		<string>daniels7</string>
		<string>daniels8</string>
		<string>daniels9</string>
		<string>daniels10</string>
		<string>daniels11</string>
		<string>daniels12</string>
	</array>
	<key>Robert De Niro</key>
	<array>
		<string>deniro1</string>
		<string>deniro2</string>
		<string>deniro3</string>
		<string>deniro4</string>
		<string>deniro5</string>
		<string>deniro6</string>
		<string>deniro7</string>
		<string>deniro8</string>
		<string>deniro9</string>
		<string>deniro10</string>
		<string>deniro11</string>
		<string>deniro12</string>
		<string>deniro13</string>
		<string>deniro14</string>
		<string>deniro15</string>
		<string>deniro16</string>
		<string>deniro17</string>
		<string>deniro18</string>
	</array>
</dict>
</plist>
