<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clooney1</key>
	<string>https://media.giphy.com/media/6J9EYB2Z27Qg8/giphy.gif</string>
	<key>clooney2</key>
	<string>http://gifimage.net/wp-content/uploads/2017/11/george-clooney-gif-5.gif</string>
	<key>clooney3</key>
	<string>http://78.media.tumblr.com/461b92a12676472e7b3795c6f0f85862/tumblr_inline_mgafcoW6Y71qic7v0.gif</string>
	<key>clooney4</key>
	<string>http://78.media.tumblr.com/dcdad1859157c6c9d24378982a1fbee3/tumblr_inline_mgafmyyj941qic7v0.gif</string>
	<key>clooney5</key>
	<string>http://78.media.tumblr.com/037c53a4322ede0cb5e40b12160c25bf/tumblr_inline_mgafehhyZi1qic7v0.gif</string>
	<key>clooney6</key>
	<string>http://78.media.tumblr.com/b80de2b2c9ebe67aa2291b51f6710831/tumblr_inline_mgafh3dabT1qic7v0.gif</string>
	<key>clooney7</key>
	<string>http://78.media.tumblr.com/f881c0345d881745f95d346b8685a743/tumblr_inline_mgafhkzwzL1qic7v0.gif</string>
	<key>clooney8</key>
	<string>http://78.media.tumblr.com/e9bbaddba06e6bdc67cc7e9d7e81677d/tumblr_inline_mgafeopvSm1qic7v0.gif</string>
	<key>clooney9</key>
	<string>http://78.media.tumblr.com/a5460446a2034ffd981a9a5ded932590/tumblr_inline_mgaflkMV4j1qic7v0.gif</string>
	<key>clooney10</key>
	<string>http://78.media.tumblr.com/df027421c9be8f81c6b32132e3972ff4/tumblr_inline_mgafgjlLzb1qic7v0.gif</string>
	<key>clooney11</key>
	<string>http://78.media.tumblr.com/e62e31e25036b8672cf5320cb72a0c79/tumblr_inline_mgafmoYMmE1qic7v0.gif</string>
	<key>clooney12</key>
	<string>http://78.media.tumblr.com/2fcc78a5c454829c028a3a96edd61533/tumblr_inline_mgafguGrmm1qic7v0.gif</string>
	<key>clooney13</key>
	<string>http://78.media.tumblr.com/4fbba7cd719cc3e8ae6462dbb2e30f92/tumblr_inline_mgafnm0k2q1qic7v0.gif</string>
	<key>clooney14</key>
	<string>http://78.media.tumblr.com/a4a2513b32491ed7bbb1ab6749f78868/tumblr_inline_mgag47f8Pm1qic7v0.gif</string>
	<key>clooney15</key>
	<string>http://78.media.tumblr.com/a64fe834233749c05ddb0de0c2f6f54f/tumblr_inline_mgafxfHWu61qic7v0.gif</string>
	<key>clooney16</key>
	<string>http://78.media.tumblr.com/362287b47f60919c63e604b686da6fcd/tumblr_inline_mgafhcXaP91qic7v0.gif</string>
	<key>clooney17</key>
	<string>http://78.media.tumblr.com/bc4d0ff6103ea8fec18a5397529b1225/tumblr_inline_mgafy4TFOI1qic7v0.gif</string>
	<key>clooney18</key>
	<string>http://78.media.tumblr.com/5da2d284c4020729da01d9dca441bd0c/tumblr_inline_mgag2zdHqq1qic7v0.gif</string>
	<key>connery1</key>
	<string>https://78.media.tumblr.com/104976dd382b85b561c453b246f3c050/tumblr_osnmwekqsN1r1ult6o1_500.gif</string>
	<key>connery2</key>
	<string>https://78.media.tumblr.com/d9572df92d9ce4f496d9a308b5dbc820/tumblr_osnjqcM2xD1r1ult6o1_500.gif</string>
	<key>connery3</key>
	<string>https://78.media.tumblr.com/82e3a05786652317bba237e9eede65c7/tumblr_ozp0xhu8Lk1wzvt9qo1_500.gif</string>
	<key>connery4</key>
	<string>https://78.media.tumblr.com/d5d0d900e708483bcdd9dbe4d7b78791/tumblr_ow4nynInhk1wzvt9qo1_500.gif</string>
	<key>connery5</key>
	<string>https://78.media.tumblr.com/573bc450d9a7edbd0dfa385b461e0aa7/tumblr_ow382gNJFG1wzvt9qo1_500.gif</string>
	<key>connery6</key>
	<string>https://78.media.tumblr.com/1958dbe9491d27694cfb629fbad3db91/tumblr_oz9hkfmHvj1vkvatbo1_500.gif</string>
	<key>connery7</key>
	<string>https://78.media.tumblr.com/210f7761b7b64cde2ec96963f9690915/tumblr_onjfa18NSp1re6c9lo1_540.gif</string>
	<key>connery8</key>
	<string>https://78.media.tumblr.com/af131f262dd80639ff051f023f5a3984/tumblr_ow37zn9DPE1wzvt9qo1_500.gif</string>
	<key>connery9</key>
	<string>https://78.media.tumblr.com/e00de32dd73ef562616c3ba9297382c9/tumblr_o8j4lzFaIL1rt1psro1_500.gif</string>
	<key>connery10</key>
	<string>https://78.media.tumblr.com/04bba0601c0be948f3c4f8c029b94e6d/tumblr_p4btigGnt11ugv7b3o1_1280.gif</string>
	<key>connery11</key>
	<string>https://78.media.tumblr.com/3473cf8f430011b70284b26649fbbe4f/tumblr_p3598tU8Q41r8rm2fo1_250.gif</string>
	<key>connery12</key>
	<string>https://78.media.tumblr.com/739f183f90d8f7555d7c5673bce0b67c/tumblr_p4gmc0H9GW1w77adzo1_500.gif</string>
	<key>connery13</key>
	<string>https://78.media.tumblr.com/4cd06a2d148605a6ed2b8c705fe6a8b2/tumblr_oteplnJVX61re6c9lo1_540.gif</string>
	<key>connery14</key>
	<string>https://78.media.tumblr.com/7e89c53da12a3f41956601debce76f50/tumblr_ovbhscrajY1wx88o7o1_400.gif</string>
	<key>connery15</key>
	<string>https://78.media.tumblr.com/8852fe449275d8553a8c58af7c64e124/tumblr_oqh0pdWWUE1uh0cj8o1_500.gif</string>
	<key>connery16</key>
	<string>https://78.media.tumblr.com/db13a3f88703ee04d8da07cd3fab189c/tumblr_otepjiZGky1re6c9lo1_540.gif</string>
	<key>connery17</key>
	<string>https://78.media.tumblr.com/82e61619d7b16be247844ce3868b3c22/tumblr_p3vvwn3Hoh1vw9c4po1_400.gif</string>
	<key>connery18</key>
	<string>https://78.media.tumblr.com/ff1f916ec555190db3b6f7cadfda42d0/tumblr_ou4vumAj0R1soh5ofo1_500.gif</string>
	<key>deniro1</key>
	<string>https://78.media.tumblr.com/aceb7eff73b6fa28495e2d01ec80a38f/tumblr_p2b1lkZ0u51sajg7no1_500.gif</string>
	<key>deniro2</key>
	<string>https://78.media.tumblr.com/d24272301286350ff103c408621a9e6a/tumblr_o0ehz12bzZ1um7hego1_500.gif</string>
	<key>deniro3</key>
	<string>https://78.media.tumblr.com/1d9921d1ce7d3d93276d010db031283b/tumblr_p4d9bmKf6M1vkzuj9o1_500.gif</string>
	<key>deniro4</key>
	<string>https://78.media.tumblr.com/d6730d055b4ccd2e051e04937da002bd/tumblr_oszivnfjQ61rfd7lko1_500.gif</string>
	<key>deniro5</key>
	<string>https://78.media.tumblr.com/50a4f286c6719b703dc9731726326147/tumblr_p54lfhuFlg1w5xhsuo3_400.gif</string>
	<key>deniro6</key>
	<string>https://78.media.tumblr.com/2ae1cc76a8f56335ae9e9c98b0e52c9a/tumblr_p35i37M2yM1r51r3ro6_400.gif</string>
	<key>deniro7</key>
	<string>https://78.media.tumblr.com/48a7b59437946db7a9a892bbb707c4b4/tumblr_p4guk7z2na1vqvawuo1_540.gif</string>
	<key>deniro8</key>
	<string>https://78.media.tumblr.com/00c4212cff7a5284dddd0bbb1a4a6adf/tumblr_o49masUTnS1uope3no1_500.gif</string>
	<key>deniro9</key>
	<string>https://78.media.tumblr.com/a4deb0bfdb92acfc9f6efe63ae407a64/tumblr_ojty9k36511tmi1ydo1_400.gif</string>
	<key>deniro10</key>
	<string>https://78.media.tumblr.com/ba4dda41c4716e453f19a8358c51a7c2/tumblr_odt8witF4v1t553g0o1_500.gif</string>
	<key>deniro11</key>
	<string>https://78.media.tumblr.com/bdc1eae6e23a4d850f3a5db9d2db078b/tumblr_nztxnk4mEq1r8jzago1_500.gif</string>
	<key>deniro12</key>
	<string>https://78.media.tumblr.com/436f06faeed714c3c6568f4ccc193247/tumblr_ospnzftarl1sypuuko1_500.gif</string>
	<key>deniro13</key>
	<string>https://78.media.tumblr.com/660785a0257768de5bb117dd3f2fa668/tumblr_ovcf40wd2E1w5xhsuo3_400.gif</string>
	<key>deniro14</key>
	<string>https://78.media.tumblr.com/848362f00c22c5b56e8c63dd9ee6b58b/tumblr_ouu8g7MBOK1rxmai6o1_400.gif</string>
	<key>deniro15</key>
	<string>https://78.media.tumblr.com/a6b5d0479ff205344265639575a458d8/tumblr_oy6li5UR6Z1ua1kgno1_500.gif</string>
	<key>deniro16</key>
	<string>https://78.media.tumblr.com/82147bdf766cf9b19d6fbc0d171f45b9/tumblr_oxlut1H5SO1vjfs5ho1_500.gif</string>
	<key>deniro17</key>
	<string>https://78.media.tumblr.com/17e618b2049dabe57641f58305386de1/tumblr_o9d68e6LMy1uijjgto1_500.gif</string>
	<key>deniro18</key>
	<string>https://78.media.tumblr.com/ed77759db5bb7671371c44d3841a08e3/tumblr_o49ij5sLGa1ueknm9o1_500.gif</string>
	<key>craig1</key>
	<string>http://78.media.tumblr.com/tumblr_me60dgifuI1qh5qveo1_500.gif</string>
	<key>craig2</key>
	<string>http://78.media.tumblr.com/c61292ba53ff1586167b09ff1c3711c9/tumblr_inline_mlhla2wOnz1rompwx.gif</string>
	<key>craig3</key>
	<string>http://78.media.tumblr.com/51ec84db72840134596d5d9b64a18b3c/tumblr_inline_mi8utz2WDw1ry5dnm.gif</string>
	<key>craig4</key>
	<string>http://78.media.tumblr.com/ab5c8eb688a1e34ccc7842f0378f0a55/tumblr_inline_mjtto2ajo81ry5dnm.gif</string>
	<key>craig5</key>
	<string>http://78.media.tumblr.com/31e45cac814a2acd300a9fb4e5009100/tumblr_inline_mk1dyzb24V1qz4rgp.gif</string>
	<key>craig6</key>
	<string>http://78.media.tumblr.com/70af36be7639074cc8518fa1ec492672/tumblr_inline_mk1f9vUsty1qz4rgp.gif</string>
	<key>craig7</key>
	<string>http://78.media.tumblr.com/5b5169a4f40f644c3f5b612f7b648118/tumblr_inline_mgk2lo3vS11ry5dnm.gif</string>
	<key>craig8</key>
	<string>http://78.media.tumblr.com/9e8de82abafa7d83a9b7aba30b3d237c/tumblr_inline_mjmi7bBxQf1qz4rgp.gif</string>
	<key>craig9</key>
	<string>http://78.media.tumblr.com/dc6f693eb1b3260f92eeaf34890a9eb5/tumblr_inline_mhl39aWGmP1qz4rgp.gif</string>
	<key>craig10</key>
	<string>http://78.media.tumblr.com/9079cd3cee47f8345ba60a91c3516f10/tumblr_inline_mj8ezjNoNJ1qz4rgp.gif</string>
	<key>craig11</key>
	<string>http://78.media.tumblr.com/36b3f0fe6480283ebb0f027bccbef29a/tumblr_inline_mj8e8mKhI91qz4rgp.gif</string>
	<key>craig12</key>
	<string>http://78.media.tumblr.com/677e8fedb7a7f593ef7944aa05bc59a3/tumblr_inline_mj8c5gzF0v1qz4rgp.gif</string>
	<key>craig13</key>
	<string>http://78.media.tumblr.com/23f7a69158b88456dc77b8d67b8963b8/tumblr_inline_mj98qtarKC1qz4rgp.gif</string>
	<key>craig14</key>
	<string>http://78.media.tumblr.com/13027e033589e9275ccd2bdec9dd9a96/tumblr_inline_mjkcc4c1Mp1qz4rgp.gif</string>
	<key>craig15</key>
	<string>http://78.media.tumblr.com/d1a706048ce12d057a30334e8938a5e8/tumblr_inline_mjjhik7nHs1qz4rgp.gif</string>
	<key>craig16</key>
	<string>http://78.media.tumblr.com/9b76e4af8132f95e7770d6384548e11a/tumblr_inline_mjmgkv6TlT1qz4rgp.gif</string>
	<key>craig17</key>
	<string>http://78.media.tumblr.com/390f49ece94918c8d2795332327216cc/tumblr_inline_mj0fislDfQ1qz4rgp.gif</string>
	<key>craig18</key>
	<string>http://78.media.tumblr.com/49515dc169bc6dca7783c5ebd24e2a7c/tumblr_inline_mj09ac2ewz1qz4rgp.gif</string>
	<key>cruise1</key>
	<string>http://78.media.tumblr.com/337ca62cb60016310d3d890ffab14bd3/tumblr_mgo4s43CTX1qdhps7o1_250.gif</string>
	<key>cruise2</key>
	<string>http://78.media.tumblr.com/tumblr_lx8cxg8z781qablf0o4_250.gif</string>
	<key>cruise3</key>
	<string>http://78.media.tumblr.com/tumblr_ma9jmxPDS11r5r8duo1_500.gif</string>
	<key>cruise4</key>
	<string>http://78.media.tumblr.com/74c9c0ae449d262a5fcbbcd1f6faf09a/tumblr_miy0zrtXha1r6mkh1o8_r2_250.gif</string>
	<key>cruise5</key>
	<string>http://78.media.tumblr.com/d27fa37ff20668dc777e50e79ba3e734/tumblr_mmwphl7XXw1rdlwzzo1_250.gif</string>
	<key>cruise6</key>
	<string>http://78.media.tumblr.com/edde37a663fd54b95283b9d749254905/tumblr_mmjjwiyoGG1r3wsyqo2_500.gif</string>
	<key>cruise7</key>
	<string>http://78.media.tumblr.com/27d7455f976fa848546cd1b48f02cdc3/tumblr_mij4jzfskr1rf16sko1_500.gif</string>
	<key>cruise8</key>
	<string>http://78.media.tumblr.com/c15b33688a0a1e3f6951c3c430b0ced3/tumblr_mnvp786GAu1qgstwyo1_250.gif</string>
	<key>cruise9</key>
	<string>http://78.media.tumblr.com/2e90460e5eca42384c0c9a826881b95a/tumblr_mn3lj7iSq51rgxhlpo7_250.gif</string>
	<key>cruise10</key>
	<string>http://78.media.tumblr.com/af933876a8af5d81cbd03e3c4d1f35c5/tumblr_mm028lObKL1rvdee4o1_250.gif</string>
	<key>cruise11</key>
	<string>http://78.media.tumblr.com/c8715802e4d17f1c4a864cd1cbf49530/tumblr_mia0khSOnl1qhzcuxo6_r1_250.gif</string>
	<key>cruise12</key>
	<string>http://78.media.tumblr.com/tumblr_malfouqxSD1r5c2fso2_500.gif</string>
	<key>cruise13</key>
	<string>http://78.media.tumblr.com/99815bbdbef3668b61e2219a8dcb4222/tumblr_mg3irw0Uq71qe8wvfo4_250.gif</string>
	<key>cruise14</key>
	<string>http://78.media.tumblr.com/3c65a7e5c36e7960622c7b79fb8238cf/tumblr_mg3irw0Uq71qe8wvfo1_250.gif</string>
	<key>cruise15</key>
	<string>http://78.media.tumblr.com/68d19a2a1bee733badffd3561932116c/tumblr_mg3irw0Uq71qe8wvfo7_250.gif</string>
	<key>cruise16</key>
	<string>http://78.media.tumblr.com/cfad32863ddd5c6b095bc4ffcacd52df/tumblr_mg3irw0Uq71qe8wvfo5_250.gif</string>
	<key>cruise17</key>
	<string>http://78.media.tumblr.com/7f3f32fbab951b28dd9a77cda0507a2d/tumblr_mkmio3biBI1qigclio7_250.gif</string>
	<key>cruise18</key>
	<string>http://78.media.tumblr.com/f45b588ce42566b3e58e7270caa10d59/tumblr_nst21rdCuT1tej7ooo5_400.gif</string>
	<key>daniels1</key>
	<string>https://78.media.tumblr.com/beacc5a7d3ede8d1659c5bfa1ec0a3d3/tumblr_o2t7vgSdo21qe8lb8o1_500.gif</string>
	<key>daniels2</key>
	<string>https://media.giphy.com/media/oai3CvXLrBGik/giphy.gif</string>
	<key>daniels3</key>
	<string>https://media1.tenor.com/images/b41d90c925a8f75e8c24a11499af5a88/tenor.gif?itemid=5737524</string>
	<key>daniels4</key>
	<string>https://media.giphy.com/media/1TX9h1LAJbUoo/giphy.gif</string>
	<key>daniels5</key>
	<string>https://thumbs.gfycat.com/ThinEmptyBeagle-max-1mb.gif</string>
	<key>daniels6</key>
	<string>https://media.gq.com/photos/558288a0e52bc4b477a96f0d/master/w_800/d1800cbdd1683879a1e40b4146822994-tumblr_inline_mtk2m0XTLO1qikf4z.gif</string>
	<key>daniels7</key>
	<string>https://78.media.tumblr.com/a199e2d2b9a0642f15e615b521a95798/tumblr_n6sy82ZAgO1qk8rxto2_250.gif</string>
	<key>daniels8</key>
	<string>http://78.media.tumblr.com/tumblr_mah1x2SUuX1qhd0xso1_500.gif</string>
	<key>daniels9</key>
	<string>http://31.media.tumblr.com/13ba023b5396b2dbf396103dc7fdd986/tumblr_mqrw9tPE4q1r9kkkzo1_500.gif</string>
	<key>daniels10</key>
	<string>https://78.media.tumblr.com/07e2d2a90bc3e284386e49e7c6c1cdd9/tumblr_ny8hrxXx8v1sgixyoo2_r1_500.gif</string>
	<key>daniels11</key>
	<string>https://78.media.tumblr.com/6b3254e4821fd25effeb054f86dcb0b8/tumblr_oulrr5C7u91qzlhg1o7_r1_500.gif</string>
	<key>daniels12</key>
	<string>https://78.media.tumblr.com/3e02ec0be6465d7c187d6fc944bf8509/tumblr_o4qgvdrL4I1qzs7uio1_250.gif</string>
	<key>damon1</key>
	<string>http://media.giphy.com/media/WM0Zdn2A4ucZW/giphy.gif</string>
	<key>damon2</key>
	<string>http://78.media.tumblr.com/7c305c754e7aa79f3f290a41ccc58c8f/tumblr_mula9n4Qaf1r09qfio2_250.gif</string>
	<key>damon3</key>
	<string>http://78.media.tumblr.com/3fd3d3be4368e14523ab0474da88a04e/tumblr_mj13lgdOOz1s00ervo8_r1_250.gif</string>
	<key>damon4</key>
	<string>http://78.media.tumblr.com/tumblr_m7usyq08YZ1qeitqh.gif</string>
	<key>damon5</key>
	<string>http://78.media.tumblr.com/tumblr_lvhuw8iyiK1qag96h.gif</string>
	<key>damon6</key>
	<string>http://www.gifcrap.com/g2data/albums/Celebrities/Matt%20Damon%20is%20happy.gif</string>
	<key>damon7</key>
	<string>http://78.media.tumblr.com/tumblr_m7ut0sAPA01qeitqh.gif</string>
	<key>damon8</key>
	<string>http://78.media.tumblr.com/tumblr_m7ut3aILNN1qeitqh.gif</string>
	<key>damon9</key>
	<string>https://media.giphy.com/media/GrUhLU9q3nyRG/giphy.gif</string>
	<key>damon10</key>
	<string>https://media.giphy.com/media/oJtvZaeT2Wg3m/giphy.gif</string>
	<key>damon11</key>
	<string>https://media3.giphy.com/media/h1JWMpBEH9PBm/giphy.gif</string>
	<key>damon12</key>
	<string>https://media1.giphy.com/media/10G4yZ5JrCsfZu/200w.gif</string>
	<key>damon13</key>
	<string>https://media.giphy.com/media/4YaAthWfsjhD2/giphy.gif</string>
	<key>damon14</key>
	<string>https://media0.giphy.com/media/MNEcs3Abr1Ize/200w.gif</string>
	<key>damon15</key>
	<string>https://media2.giphy.com/media/QNYVr701OprfW/giphy.gif</string>
	<key>damon16</key>
	<string>https://media3.giphy.com/media/KEYT7R0uR4efS/200w.gif</string>
	<key>damon17</key>
	<string>https://media2.giphy.com/media/FvTQ0PtSfaRr2/200w.gif</string>
	<key>damon18</key>
	<string>https://media0.giphy.com/media/3o7TKnBSNie9cxRZIY/200w.gif</string>
	<key>crowe1</key>
	<string>https://media.giphy.com/media/BGiZf8C6nweLS/giphy.gif</string>
	<key>crowe2</key>
	<string>https://media3.giphy.com/media/frO9t1OcjlrTW/200w.gif</string>
	<key>crowe3</key>
	<string>https://media2.giphy.com/media/AuVZzmG2rnhao/200w.gif</string>
	<key>dafoe1</key>
	<string>https://media0.giphy.com/media/i6IqXuLaTdqRW/giphy.gif</string>
	<key>dafoe2</key>
	<string>https://gifimage.net/wp-content/uploads/2017/08/willem-dafoe-gif-21.gif</string>
	<key>dafoe3</key>
	<string>https://thumbs.gfycat.com/ParallelWelloffCaterpillar-max-1mb.gif</string>
	<key>costner1</key>
	<string>https://media1.giphy.com/media/TGfZyg8aQL4Pe/giphy.gif</string>
	<key>costner2</key>
	<string>https://media1.tenor.com/images/ba8b0e5daf3c404d93637b01413f5556/tenor.gif?itemid=5389018</string>
	<key>New item - 14</key>
	<string></string>
	<key>New item - 15</key>
	<string></string>
	<key>New item - 16</key>
	<string></string>
	<key>New item - 17</key>
	<string></string>
	<key>New item - 18</key>
	<string></string>
</dict>
</plist>
